html,body{

margin:0px;

height:100%;
background-color:#f1f1f1;

}


.mycuerpo{
	background-color: #f1f1f1;
	
}


p{
	color: #FFFFFF;
	font-size: 1.5em;
}

iframe, object, embed{max-width: 100%;
  pointer-events: none;}

.home{
	
	margin: 0 auto;
	width:80%;
	height:100%;
	background-image: url(../imgs/FondoDegradado.png);
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	z-index:-100;
	
}



.fondo{
		background-image: url(../imgs/FondoDegradado.png);
		width:80%;
		padding-top:20px;
		padding-bottom:20px;
}

.myfondo{
	background-image: url(../imgs/FondoWeb.png);
	width:80%;
}
.mylogo{
	margin:0 auto;
	max-width:20%;
}

.myimg{
	max-width:45%;
	margin:0 auto;
}



.xbox{
	text-align:center;
	margin:0 auto!important;
	position:relative;
}



/*Inicio map responsive*/

.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
margin:0 auto!important;
text-align:center;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 80% !important;
height: 100% !important;
}


/*End map reponsive*/

.divsocial{
	background-color: #c01f25;
	width:80%;
	height:45px;
	margin:0 auto!important;
	

}

/*
.divsocial{
	background-color: #c01f25;
	width: 80%;
	height:45px;
	margin:0 auto!important;
	position:absolute;
}
*/
.divsocial .icon{
	display:inline;
	max-width:100%;
	max-height:100%;
	margin: 0 auto;
	padding:5px;
}

.degradado{
	
	background-image: url(../imgs/Degradado.png);
	background-repeat: repeat-x;
	z-index: 2;
	position:relative;

}

.myscroll{
	margin-left: auto;
  margin-right: auto;
	margin-top:-55px;
}


.izquierdo{
	
	background-image: url(../imgs/MarcoGaleriaIzq.png);
	-webkit-background-size: 100% 100%;           /* Safari 3.0 */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    background-size: 100% 100%; 
	z-index: 22!important;
	padding:27px;


}
.centro{ 
	
	background-image: url(../imgs/MarcoGaleriaMedio.png);
	-webkit-background-size: 100% 100%;           /* Safari 3.0 */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    background-size: 100% 100%; 
	z-index: 22!important;
	padding:27px;
}
.derecho{

	background-image: url(../imgs/MarcoGaleriaDer.png);
	-webkit-background-size: 100% 100%;           /* Safari 3.0 */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    background-size: 100% 100%; 
	z-index: 22!important;
	padding:27px;
}
 


.mycarousel img{
	position:relative;
	z-index:1!important;
	 max-width: 80%!important;
	 margin:0 auto;
}

div.well {
   background-color: rgba(245, 245, 245, 0.4);
      opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
    background-color: blue;
}

.carousel-inner {
    position: relative;
    width: 75%!important;
    overflow: hidden;
	margin: 0 auto;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}

.contacto{
	text-align: center;
	padding-left:10%;
	padding-right:10%;
}

.btnenviar{
	margin:0 auto;
	max-width:20%;
}


.facebook, .facebook img{
	margin:0 auto;
}

.instagram, .instagram img{
	margin:0 auto;
}
.suscribete img{
	margin:0 auto;
	text-align: center;
}


.footer{
	background-color:#c01f25;
	text-align: center;
	
	
}

.footer p{
	font-size:15px!important;
}

.firma{
	color: gray;
}


.sus{
	background-color: #c01f25; 
	padding:10px;
}

.sus h4{
	color:#ffffff;
	text-align:center;
}

.footer a{
	 text-decoration:none;   
	 color:#FFFFFF;
}

.modal-body p
{
	color:#000000;
	font-size: 1em;
	text-align: justify;
}
